
# Database connection settings.
DBNAME = 'db'
DBUSER = 'user'
DBPASS = 'pass'

# Path to data directories - Relative paths are ok if you always invoke 
# from the same directory.

GROUNDDATAPATH = '/home/myaccount/rhok2011/data/'

IMAGERESULTPATH = 'images/'
DATAEXPORTPATH = 'export/'

# The extension for the graph output. 
# This should be .png for testing, or .svg for conversion to .kml.
# Other options should also work.
EXT = '.png' 